//-
	div.navbar.navbar-fixed-top(role='navigation')
		div.navbar-inner
			div.container
				a.brand(href='/') HYOSIK
				ul.nav.navbar-nav
					li
						a(href='#mission') Mission
					li
						a(href='#products') Products
					li
						a(href='#tools') Tools
					li
						a(href='#team') Team
					li
						a(href='#contact') Contact us