nav.main-navigation(role='navigation')
	a.closed(href='#') x
	div.menu-main-navigation-container
		ul#menu-main-navigation.menu
			li#menu-item-0.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-0
				a(href='#home') Home
			li#menu-item-1.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-1
				a(href='#mission') About
			li#menu-item-2.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-2
				a(href='#products') Portfolio
			li#menu-item-3.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-3
				a(href='#tools') Tools
			li#menu-item-4.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-4
				a(href='#team') Team
			li#menu-item-5.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-5
				a(href='#contact') Contact us
